.error{
    text-align: center;
    padding-top: 8%;
    font-size: 120px;
    .error-404{
        color: #D7DBEB;
        font-size: 120px;
    }
    .error-vaga{
        padding-top: 2%;
        color: #D7DBEB;
        font-size: 30px;
    }
    .error-404-domvsit{
        padding-top: 2%;
        color: #D7DBEB;
        font-size: 30px;
    }
    .error-page-home-paragrafo{
        color: #D7DBEB;
        padding-top: 2%;
        font-size: 20px;
        list-style: none;
    }
    .error-page-home-link{
        color: #D7DBEB;
        font-size: 25px;
        list-style: none;
        
    }
}