.select-language{
  color: black;
  text-decoration: none;
  background-color: none;
  border: 0;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 200px;  
  transition: height 300ms;
  @media(max-width: 769px) {
    margin-left: 22%;
    z-index: 3;
  }
}



 