
.services-section{
    background: url('../../images/grafismos.svg') no-repeat right 45% bottom 120%;
    @media only screen and (min-width: 1920px){
        background: url('../../images/grafismos.svg') no-repeat right 80% bottom 90%;
    }
    @media only screen and (max-width: 780px){
        background: url('../../images/grafismos.svg') no-repeat right 80% bottom 85%;
    }
}

.servico {
    width: 100%;
    margin-top:40px;
    height: auto;
    background: linear-gradient(180deg, rgba(36, 46, 90, 0.5) 0%, rgba(36, 46, 90, 0) 100%);
    @media only screen and (max-width: 1820px){}
    @media only screen and (max-width: 780px){
        margin-bottom: -120px ;
    }
    #servico-titulo{
        color: $white;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        font-style: normal;
        margin-left: 100px;
        @media only screen and (max-width: 780px){
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            margin-left: 18px;
        }
    }
    
    
    &-box {
        margin-top: 100px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        @media only screen and (max-width: 780px){
            margin-bottom: 0px;
            margin-top: 0px;
            width: 100%;
        }
        }
        &-conteudo{
            margin-top:50px;
            color: $white;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            font-style: normal;
            display: flex;
            justify-content: center;
            list-style: none; 
        }
        &-titulo{
            margin-right: 120px;
            font-size: 28px;
            @media only screen and (max-width: 780px){
                line-height: 1.5;
                width: 100%;
            }
        }
                  
    }
    .grafismo {
        position:absolute;
        max-width:100%;
        height: 200px;
        z-index: -1;
        &-img{
            width:100%;
        }
        @media (min-width: 1500px) {
            position:absolute;
            max-width:100%;
            height: 200px;
            z-index: -1;
            &-img{
                width:100%;
            }
           }
        
    }
