$ultra-dark-blue: #151B36;
$dark-blue: #1A2242;
$mid-blue: #1F284E;
$light-blue: #293567;
$ultra-light-blue: #9BA4CE;
$ultra-dark-blue: #151B36;
$white: #FFFFFF;
$black: #000000;



$text-blue: #D7DBEB;
$bg-with-opacity: rgba(36, 46, 90, 0.5);